@{
    ViewBag.Title = "Sobre";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Este é um projeto realizado para a disciplina Tecnologias de Internet 2</p>
    </div>
</div>