@{
    ViewBag.Title = "Contactos";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Telefone">T:</abbr>
        965289651<br />
        <abbr title="Email">E:</abbr>
        films4all@gmail.com
    </address>


</div>